<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ModuleConfigDataMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pojo.ModuleConfigData">
        <id column="module_config_data_id" property="moduleConfigDataId" />
        <result column="data_order" property="dataOrder" />
        <result column="module_type" property="moduleType" />
        <result column="module_config_id" property="moduleConfigId" />
        <result column="module_id" property="moduleId" />
        <result column="site_id" property="siteId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="update_at" property="updateAt" />
        <result column="create_at" property="createAt" />
        <result column="is_example" property="isExample" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        module_config_data_id, data_order, module_type, module_config_id, module_id, site_id, create_by, update_by, update_at, create_at, is_example
    </sql>

</mapper>
