<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.moduleconfig.mapper.ModuleConfigMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superficial.img.api.moduleconfig.domain.ModuleConfig" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        module_config_id, site_id, module_id, data_json, data_url, create_by, update_by, create_at, update_at,module_order,module_name
    </sql>

</mapper>
