<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.moduleconfig.mapper.ModuleConfigMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superficial.img.api.moduleconfig.domain.ModuleConfig" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        module_config_id, site_id, module_id, data_json, data_url, create_by, update_by, create_at, update_at,module_order,module_name
    </sql>

    <resultMap id="IndexModuleConfigVoRM" type="com.superficial.img.api.moduleconfig.vo.IndexModuleConfigVo" autoMapping="true">

</resultMap>
    <resultMap id="BackModuleRM" type="com.superficial.img.api.moduleconfig.vo.BackModuleConfigVo" autoMapping="true">

    </resultMap>
    <resultMap id="ModuleConfigVORM" type="com.superficial.img.api.moduleconfig.vo.ModuleConfigVo" autoMapping="true">

    </resultMap>
    <select id="getIndexModuleConfigList" resultMap="IndexModuleConfigVoRM" >
        select mc.module_config_id, m.module_json,m.module_type,mc.data_json,mc.site_id,mc.module_order,mc.data_url  from module m inner  join module_config mc
        on m.module_id=mc.module_id
        where mc.site_id=#{siteId} order by mc.module_order
    </select>

    <select id="getBackModuleList" resultMap="BackModuleRM">
          select mc.module_config_id, m.module_json, m.module_type, mc.site_id, mc.module_order ,m.module_preview_img
           ,mc.module_name,m.module_title
           from module m inner  join module_config mc
        on m.module_id=mc.module_id
        where mc.site_id=#{siteId} order by mc.module_order
    </select>

    <select id="getModuleConfigVo" resultMap="ModuleConfigVORM">
        select
          m.module_data_template_json as moduleJson ,m.module_type ,mc.module_config_id ,mc.data_json ,mc.data_url
           from module m inner  join module_config mc
        on m.module_id=mc.module_id
       where mc.module_config_id = #{moduleConfigId}
</select>
</mapper>
