<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.moduleconfigdata.mapper.ModuleConfigDataMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superficial.img.api.moduleconfigdata.pojo.ModuleConfigData" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        module_config_data_id, data_order, module_type, module_config_id, module_id, site_id, create_by, update_by, update_at, create_at, is_example
    </sql>

</mapper>
