<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.arttemplate.mapper.TbArtTemplateMapper">


   <select id="getTemplateScriptList" resultType="String">
       select template_script from tb_art_template where template_type in
       <foreach collection="typeList" open="(" close=")" separator="," item="type">
           #{type}
       </foreach>
   </select>
    <select id="getArtTemplateVoList" resultType="com.superficial.img.api.arttemplate.vo.ArtTemplateVo">
        select
        * from tb_art_template where 1=1
         <if test="useType!=null and useType!=''">
           and  use_type=#{useType}
         </if>
         limit #{from},#{pageSize}
    </select>

    <select id="getDictList" resultType="com.superficial.img.api.arttemplate.vo.TemplateDictVo">
        select d.dict_key as templateType ,d.dict_value as templateName  , case when isNULL(a.id) then '否' else '是' end as is_create    from tb_dict  d left  join tb_art_template a
        on d.dict_key = a.template_type
         where d.dict_type='template_type' and d.dict_key!=0
         <if test="searchText!=null">
             and d.dict_value like concat('%',#{searchText},'%')
         </if>
        <if test="isCreate!=null and  isCreate">
            and not isNULL(a.id)
        </if>
        <if test="isCreate!=null and !isCreate">
            and isNULL(a.id)
        </if>
        limit #{index} , #{pageSize}
    </select>
    <select id="getDictCount" resultType="Integer">
        select  count(0) from tb_dict  d left  join tb_art_template a
        on d.dict_key = a.template_type
         where d.dict_type='template_type' and d.dict_key!=0
        <if test="searchText!=null">
            and d.dict_value like concat('%',#{searchText},'%')
        </if>
        <if test="isCreate!=null and  isCreate">
            and not isNULL(a.id)
        </if>
        <if test="isCreate!=null and !isCreate">
            and isNULL(a.id)
        </if>
    </select>
</mapper>
