<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.arttemplate.mapper.TbArtTemplateMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superficial.img.api.arttemplate.pojo.TbArtTemplate" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, template_type, template_script, template_data, create_at, update_at,create_user,update_user ,before_script,after_script,template_elements
    </sql>
   <select id="getTemplateScriptList" resultType="String">
       select template_script from tb_art_template where template_type in
       <foreach collection="typeList" open="(" close=")" separator="," item="type">
           #{type}
       </foreach>
   </select>
    <select id="getArtTemplateVoList" resultType="com.superficial.img.api.arttemplate.vo.ArtTemplateVo">
        select * from tb_art_template limit #{from},#{pageSize}
    </select>

    <select id="getDictList" resultType="com.superficial.img.api.arttemplate.vo.TemplateDictVo">
        select d.dict_key as templateType ,d.dict_value as templateName  , case when isNULL(a.id) then '否' else '是' end as is_create    from tb_dict  d left  join tb_art_template a
        on d.dict_key = a.template_type
         where d.dict_type='template_type'
         <if test="searchText!=null">
             and d.dict_value like concat('%',#{searchText},'%')
         </if>
        <if test="isCreate">
            and not isNULL(a.id)
        </if>
        <if test="!isCreate">
            and isNULL(a.id)
        </if>
        limit index , pageSize
    </select>
    <select id="getDictCount" resultType="Integer">
        select  count(0) from tb_dict  d left  join tb_art_template a
        on d.dict_key = a.template_type
         where d.dict_type='template_type'
        <if test="searchText!=null">
            and d.dict_value like concat('%',#{searchText},'%')
        </if>
        <if test="isCreate">
            and not isNULL(a.id)
        </if>
        <if test="!isCreate">
            and isNULL(a.id)
        </if>
    </select>
</mapper>
