<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superficial.img.api.dict.mapper.TbDictMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superficial.img.api.dict.pojo.TbDict" autoMapping="true">

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_id, dict_value, dict_key, dict_type, create_at, update_at
    </sql>
   <select id="getSelectList" resultType="com.superficial.img.common.vo.SelectVO">
       select  dict_value as dict_text ,dict_type as dict_value  from  tb_dict
       where  dict_key = 0
   </select>

    <select id="getSelectVOList" resultType="com.superficial.img.common.vo.SelectVO">
               select  dict_value as dict_text ,dict_key as dict_value ,dict_type from  tb_dict
               where dict_type in
               <foreach collection="dictTypeList" close=")" item="i" open="(" separator=",">
                   #{i}
               </foreach>
               order by dict_key asc
    </select>
    <select id="getAllSelectList" resultType="com.superficial.img.common.vo.SelectVO">
            select  dict_value as dict_text ,dict_key as dict_value ,dict_type from  tb_dict
    </select>
</mapper>
